<h1>Log In</h1>

<form action="/login" method="post">

<p>
  <label for="email">Email</label>
  <input type="email" name="email" id="emial">
</p>

<p>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
</p>

<input type="submit" value="Inicia Session">

</form>